includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: 5
    treatPhpDocTypesAsCertain: false
    tmpDir: .phpstan-cache

    ignoreErrors:
        -
            identifier: trait.unused
            path: src/Cache/Concerns/Cacheable.php
